In [3]:
import pandas as pd
import os

C:\Users\ateso\AppData\Local\Temp\ipykernel_26916\3026406390.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
Madrid_bars = r"C:\Users\ateso\Desktop\Ironhack\Project-3\Data\Madrid\Bars\Bars.csv"
df_bars = pd.read_csv(Madrid_bars)
df_bars['Local_type'] = 'Bar'

df_bars.sample(2)

              Name   Latitude  Longitude Local_type
49  Taberna Origen  40.426594  -3.716323        Bar
38   Labirratorium  40.433781  -3.708548        Bar

In [5]:
Madrid_gym = r"C:\Users\ateso\Desktop\Ironhack\Project-3\Data\Madrid\Gyms\Gym.csv"
df_gym = pd.read_csv(Madrid_gym)
df_gym['Local_type'] = 'Gym'

df_gym.sample(2)

                         Name   Latitude  Longitude Local_type
12  Metropolitan Eurobuilding  40.458131  -3.685796        Gym
8                   Rebel Gym  40.443375  -3.696102        Gym

In [6]:
Madrid_school = r"C:\Users\ateso\Desktop\Ironhack\Project-3\Data\Madrid\Schools\Schools.csv"
df_school = pd.read_csv(Madrid_school)
df_school['Local_type'] = 'Schools'

df_school.sample(2)

                         Name   Latitude  Longitude Local_type
29  Colegio Highlands Encinar  40.503931  -3.638563    Schools
20     Colegio Fuentelarreyna  40.483961  -3.729305    Schools

In [9]:
Madrid_others = r"C:\Users\ateso\Desktop\Ironhack\Project-3\Data\Madrid\other_places\Others.csv"
df_others = pd.read_csv(Madrid_others)
df_others['Local_type'] = 'Others'

df_others.sample(2)

                    Name   Latitude  Longitude Local_type
32     Pabellón Satélite  40.413763  -3.737977     Others
96  Parque de Pradolongo  40.375005  -3.707662     Others

In [10]:
Madrid_restaurants = r"C:\Users\ateso\Desktop\Ironhack\Project-3\Data\Madrid\Restaurants\Restaurants.csv"
df_restaurants = pd.read_csv(Madrid_restaurants)
df_restaurants['Local_type'] = 'Restaurants'

df_restaurants.sample(2)

              Name   Latitude  Longitude   Local_type
18  Taberna Laredo  40.420182  -3.675157  Restaurants
12     Zuma Madrid  40.426315  -3.689566  Restaurants

In [11]:
df_combined = pd.concat([df_bars, df_gym, df_school, df_others, df_restaurants], ignore_index=True)
df_combined.sample(2)

                     Name   Latitude  Longitude   Local_type
289               Flanker  40.494123  -3.880463  Restaurants
143  Instituto San Isidro  40.412616  -3.707359      Schools

In [12]:
output_directory = "C:\\Users\\ateso\\Desktop\\Ironhack\\Project-3\\Data\\Madrid"
output_filename = "combined_Madrid_data.csv"

output_path = os.path.join(output_directory, output_filename)
df_combined.to_csv(output_path, index=False)

print(f"Combined data exported to {output_path}")

Combined data exported to C:\Users\ateso\Desktop\Ironhack\Project-3\Data\Madrid\combined_Madrid_data.csv